*{
 margin: 0px;
 padding: 0px;
}
/* by putting the width on the parent element all the block elements inside will want to be 100% width of the parent. This means sections like #header and #nav_bar do not need to have a width added to them*/
#container{
  background-color: white;
  width: 970px;
  margin: 0 auto;
}
#header{
  background-color: #cc0000;
  /*width: 970px;*/
  height: 100px;
  overflow: hidden;
}
  #header img, h2{
    display:inline-block;
    vertical-align: top;
    margin: 5px;
  }
  #header img{
    margin-top: 20px;
  }
  #header h2{
    margin-top: 30px;
    font-size: 22px;
    color: white;
  }
.right_header{
  margin-left: 130px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}
.right_header li{
  display: inline;
}
.right_header_list{
  color: white;
}
.form{
  margin-left: 25px;
  display: table-cell;
}
.search input{
  color: white;
  padding: 1px;
  background-color: #cc0000;
  border: 1px solid;
}
.search{
  display: table-cell;
}
.color{
  color: yellow;
}
#nav_bar{
  height: 25px;
  width: 970px;
  background-color: #dbd6d6;
  display: inline-block;
}
#nav_bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav_bar li{
  display: inline;
  border-right: 2px solid gray;
  margin: 10px;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}
#nav_bar li a{
  text-decoration: none;
  color: gray;
}
#nav_bar li:last-child{
  border-right: none;
}
#main_content{
  width: 970px;
  height:auto;
  display: inline-block;
}
.side_bar{
  height: auto;
  width: 180px;
  background-color: gray;
  display: inline-block;
  margin: 20px;
  text-indent: 15px;
  font-size: 15px;
  vertical-align: top;
}
.right_content{
  margin-top: 20px;
  width: 580px;
  display: inline-block;

}
.right_content p.bold1, p.bold2, p.bold3, p.bold4, p.bold5, p.bold6, p.bold7{
  font-weight: bold;
  color: #cc0000;
  font-size: 15px;
}
.right_content p.bold4{
  border-top-style: solid;
  border-color: gray;
}
.right_content p.bold5{
  border-top-style: solid;
  border-color: gray;
}
a{
  color:#cc0000;
  font-size: 15px;
}
p{
  font-size: 15px;
}
li{
  font-size: 15px;
  margin: 10px;
}
.side_list, .latest_news, .questions, .table_of_contents{
  list-style: none;
}
h1{
  color:#cc0000;
  font-size: 25px;
}
